/* overall application style */

h1 {
  font-size: 1.75em;
}

h2:hover {
  cursor: default;
}

a {
  text-decoration: none;
  color: #0a244f;
}

h1 a:hover {
  cursor: default;
}


.footer {
  position: fixed;
  right: 5px;
  bottom: 0;
  width: 100%;
  text-align: right;
  color: rgba(0, 0, 0, 0.2);
}

.page-container {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  padding: 5%;
  margin: 5%;
  max-width: 100%;
  background-color: rgb(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Artists */

.artist-container {
}

.artist-container img {
  max-width: 100%;
  height: auto;
}

/* Artist Navigation */


.artist-links ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  font-size: 1.2em;
}

.artist-links ul li {
  display: flex;
  list-style: none;
  transition: 0.4s;
  align-items: center;
  justify-content: space-between;
  margin-right: 20px;
}



.artist-links ul li:hover {
  transform: scale(1.25);
}




/* Benefits */

.benefits-container {

}

.benefit-content {

}
/* Contact */

.contact-container {

}

/* How It Works */

.how-container {

}

/* Media Queries */
