
.header-container {
  background-color: #FFFFFF;
}

.links ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
  font-size: 1.5em;
}

.links ul li {
  list-style: none;
  transition: 0.4s;
  margin-right: 40px;
}


.links ul li:hover {
  transform: scale(1.25);
}


.title {
  font-size: 6em;
}

.header-container h2 {
  font-size: 2em;
}

.page-logo {
  padding-top: 20px;
  max-width: 60%;
  height: auto;
}
