

.links ul {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}


.links ul li {
  list-style: none;
  transition: 0.4s;
  margin-right: 40px;
}


.links ul li:hover {
  transform: scale(1.25);
}

.title {
  font-size: 6em;
}


.page-logo {
  max-width: 70%;
  height: auto;
}
